<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center ion-text-uppercase "> Bienvenido a mi biblioteca </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">

    <ion-item fill="solid">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
<div>
  <ng-container *ngFor="let validation of validation_message.email">
    <div *ngIf="(loginForm.get('email')?.hasError(validation.type) && loginForm.get('email')?.dirty)">
      {{validation.message}}
    </div>    
  </ng-container>
</div>
<ion-item fill="solid">
  <ion-label  position="floating">Contraseña</ion-label>
  <ion-input  type="password" formControlName="password"></ion-input>
</ion-item>

<div>
  <ng-container *ngFor="let validation of validation_message.password">
    <div *ngIf="(loginForm.get('password')?.hasError(validation.type) && loginForm.get('password')?.dirty)">
      {{validation.message}}
    </div>    
  </ng-container>
</div>

<ion-item fill="solid">
  <ion-label  position="floating">Celular</ion-label>
  <ion-input   formControlName="number"></ion-input>
</ion-item>

<div>
  <ng-container *ngFor="let validation of validation_message.number">
    <div *ngIf="(loginForm.get('number')?.hasError(validation.type) && loginForm.get('number')?.dirty)">
      {{validation.message}}
    </div>    
  </ng-container>
</div>

<ion-button
shape="round"
[disabled]="!loginForm.valid"
type="submit">
 Ingresar
</ion-button>

<ion-button
shape="round">
 Registar
</ion-button>

  </form>
  {{ errorMessage }}
</ion-content>
