  ion-slides{
   height: 100%;
   max-width: 900px;
   justify-content:center;
   align-items:center;
   display: flex;
  }
  .swiper-slide{
    display: block;
    background-color:rgb(249, 96, 0);
    margin: 5px 5px 5px 5px;
    
  }
  
  ion-slide > h1,h2{
   font-style:italic;
   color: var(--color-blanco-claro);
   padding: 5px 0px 5px 0px;
  }
  
  ion-slide > p{
    font-style: initial;
    font-size: 22px;
    border: solid;
    border-color: var(--color-blanco-claro);
    padding: 5px 5px 5px 5px;
    
  }
  
  ion-slide > ion-icon[name="close"]{
    float: right;
    color: rgb(255, 255, 255);
    font-size: 50px;
  }


 

 